# Python cache
__pycache__/
*.py[cod]
*.pyo

# Build artifacts
build/
dist/
*.spec

# Qt temporary files
*.qrc~
*.ui~
*.pyproject

# Optional virtual envs (if ever made inside project)
env/
.venv/

# OS/editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore images source folders
SRC/images
SRC/BlockDiagram
SRC/resource_rc.py
